{extend name="common/__admin"}

{block name="body"}
<blockquote class="layui-elem-quote layui-text">编辑管理员，欢迎使用后台管理系统</blockquote>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>编辑管理员</legend>
</fieldset>

<form class="layui-form">
    <input type="hidden" name="id" value="{$adminInfo.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <select name="group_id">
                <option value="">选择角色</option>
                {volist name="groupList" id="vo"}
                <option value="{$vo.id}" {if ($adminInfo.group_id == $vo.id)}selected{/if}>{$vo.title}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="username" value="{$adminInfo.username}" disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" class="layui-input" name="password" placeholder="不填则为不修改">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="status" value="1" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {if ($adminInfo.status == 1)}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit">设置</button>
        </div>
    </div>
</form>
{/block}

{block name="js"}
<script>
    layui.use(['form', "miniTab"], function () {
        let $ = layui.jquery;

        // 提交
        layui.form.on("submit(submit)", function (obj) {
            obj.field.status = obj.field.status === undefined ? 2 : 1;
            if (isClick) {
                isClick = false;
                request($, "{:url('admin.Admin/editAdmin')}", obj.field, function (res) {
                    if (res.code == 1) {
                        layer.msg(res.msg, function () {
                            layui.miniTab.deleteCurrentByIframe();
                        });
                    } else {
                        isClick = true;
                        layer.msg(res.msg);
                    }
                });
            }
            return false;
        });
    });
</script>
{/block}